<div class="d-flex flex-column  m-auto">
  <div>
    <span class="mx-3">{{loginText}}</span>
    <input type="text"
               pInputText
                [ngClass]= "{'input-error': !login}"
               [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-2">{{pswText}}</span>
    <input type="text" class="mt-3"
              pInputText
              [ngClass]= "{'input-error': !psw}"
              [(ngModel)]="psw"/>
  </div>
    <div *ngIf="showCardNumber">
  <div class="mt-3 ">
    <p-checkbox (onChange)="vipStatusSelected()"
                label = "Есть номер карты"
                name="groupname" value="val1"
                [binary] ="true"
                [(ngModel)]="selectedValue">
    </p-checkbox>

      <div *ngIf="selectedValue">
        <span class="mx-2">Номер карты</span>
        <input type="text" class="mt-3"
               pInputText
               [ngClass]= "{'input-error': !cardNumber}"
               [(ngModel)]="cardNumber"/>
      </div>
    </div>



</div>
</div>
  <div class="mt-5 d-flex justify-content-center">
    <button (click)="onAuth($event)"  type="button" class="btn btn-success">{{authTextButton}}</button>
  </div>
