:host {
  min-width: 300px;
  flex-basis: 300px;
  border: 1px solid gray;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.image-aside {
  position: absolute;
  bottom: 0;
  width: 57%;
  z-index: -1;
}


.aside-container {
  width: 48%;
  margin: 0 auto;
  margin-top: 10px;
}

.btn {
  border: 1px solid #dad5d5;
  background: #cdf0f1;
  transition: all .3s ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.btn-custom {
  border: 1px solid #dad5d5;
  background: #cdf0f1;
  transition: all .3s ease-in-out;
}

.btn-custom:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.btn-custom:active {
  transform: translateY(2px);
  transition: all .3s ease-in-out;
}
