<div class="aside-container">
  <div class="mt-4">
    <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
  </div>
  <div class="mt-4">
    <p-dropdown [options]="menuTypes"
                [(ngModel)]="selectedMenuType"
                optionLabel="label"
                (onChange)="changeType($event)">

    </p-dropdown>
  </div>
  <div class="mt-4">
    <p-dropdown class="mt-3"
                [options]="tourTypes"
                optionLabel="label"
                (onChange)="changeTourType($event)">
    </p-dropdown>
  </div>
  <button class="btn btn-custom mt-4" type="submit" (click)="initRestError($event)" >запрос с ошибкой</button>

  <div class="mt-3">
    <button (click)="initSettingsData()" class="btn btn-sm" >Обновить настройки</button>
  </div>
</div>
<p-toast position="top-left" ></p-toast>


