<div class="d-flex flex-column h-100 ">

  <header>
    <app-header>
    </app-header>
  </header>

  <div class="main-content ">
    <div class="overflow-auto h-100 w-100">
      <router-outlet></router-outlet>
      <h2>Смена пароля</h2>
      <div class=" d-flex flex-column registration-input-wrap m-auto">
        <div class="my-2 ">
          <span class="mx-3"> Текущий пароль</span>
          <input type="password"
                 pInputText
                 [ngClass]= "{'input-error': !psw}"
                 [(ngModel)]="psw"/>
        </div>
        <div class="my-2 ">
          <span class="mx-3">Новый пароль</span>
          <input type="password"
                 pInputText
                 [ngClass]= "{'input-error': !newPsw}"
                 [(ngModel)]="newPsw"/>
        </div>
        <div class="my-2 ">
          <span class="mx-3">Подтверждение пароля</span>
          <input type="password"
                 pInputText
                 [ngClass]= "{'input-error': !pswRepeat}"
                 [(ngModel)]="pswRepeat"/>
        </div>
        <div class="mt-5 d-flex justify-content-center">
          <button [disabled]=" !psw || !pswRepeat"
                  (click)="changePassword($event)"
                  type="button"
                  class="btn btn-success">Сменить пароль</button>
        </div>
    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>



</div>

