<div class="ticket-info">
  <div class="btn-ticket">
    <a class="ticket-link" routerLink ="/tickets/tickets-list">Назад</a>
    <div class="mt-3 ticket-title">
      {{ticket?.name}}
    </div>
    <div class="ticket-description">{{ticket?.description}}</div>
  </div>
  <h4 class="user-title">Личная информация</h4>
<div class="mt-4 user-info">

  <div class="mt-3 " [formGroup]="userForm"  (ngSubmit)="onSubmit()">
    <div class="mt-3">
    <span class="mx-3">Имя</span>
    <input type="text"
            class="mt-3"
            pInputText
            formControlName = "firstName"
    />
  </div>

    <div class="mt-3">
      <span class="mx-3">Фамилия</span>
      <input type="text"
             class="mt-3"
             pInputText
             formControlName = "lastName"
      />
    </div>

    <div class="mt-3">
      <span class="mx-3">Номер карты</span>
      <input type="text"
             class="mt-3"
             pInputText
             formControlName = "cardNumber"
      />
    </div>

    <div class="mt-3">
      <span class="mx-3">Возраст</span>
      <p-inputNumber formControlName="age"
                     [showButtons]="true">
      </p-inputNumber>
    </div>

    <div class="mt-3">
      <span class="mx-3">День рождения</span>
     <p-calendar formControlName="birthDay"
                 (onSelect)="selectDate($event)">
     </p-calendar>
    </div>

    <div class="mt-3">
      <span class="mx-3">Гражданство</span>
      <input type="text"
             class="mt-3"
             pInputText
             formControlName = "citizen"
      />
    </div>

    <div class="mt-4">
      <button class="btn-success btn" type="submit"
              [disabled]="!userForm.valid">Перейти к оформлению</button>
    </div>
  </div>

</div>

<div class="mt-4">
  <h4 class="tour-container">Похожие туры</h4>
  <p-carousel [value]="nearestTours" >
    <ng-template let-tour pTemplate="item" >
      <p class="container"> {{tour.name}}</p>
      <div class="ticket-img-nearest">
        <img class="w-100 h-100" src="/assets/img/{{tour.img}}"/>
      </div>
    </ng-template>
  </p-carousel>
</div>

</div>
