<div class="d-flex header-container">
  <div>
    <img  alt="airplane" class="image-header" ngSrc="assets/img/airplane.svg" height="63" width="190"/>
  </div>
  <div class="flex-grow-1">
    <p-menubar  [model]="items"></p-menubar>
  </div>
  <div class="user-info">Добро пожаловать,
    {{ user?.login}}
  </div>
  <div class="time-block">

    <div>{{time | date: 'HH:mm:ss'}}</div>
    <p class="timer-day p-0 m-0">{{time | date: 'EEEE'}}</p>
  </div>

</div>
