.ticket-item {
  height: 300px;
  border: 1px solid #dad5d5;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all  .3s ease-in-out;
  & .ticket-title {
    padding: 2px;
    font-weight: bolder;
    text-align: center;
  }

  & img {
    height: 200px;
    border-radius: 7px;
  }
}

.ticket-price {
  text-align: center;
  color: green;
  font-style: italic;
}


.ticket-item:hover {
  transform: translateY(-1px);
  cursor: pointer;
  transition: all  .3s ease-in-out;
}

.input-container{
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px
}

input {
  margin-right: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 90px;
  height: 30px;
  background: #cdf0f1;
  transition: all  .3s ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
  transition: all  .3s ease-in-out;
}

.btn:active {
  transform: translateY(2px);
  transition: all  .3s ease-in-out;
}

.input-search {
  width: 200px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.search-error {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;

}

