<div  >
  <div class="d-flex justify-content-center">
    <p> Колличество элементов :{{tickets?.length}}</p>
  </div>

<div class="input-search">
  <input  #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText/>
</div>

  <div appBlockStyle
       *ngIf ="tickets"
       #tourWrap
       [selector] = "'.ticket-item'"
       [initFirst] = "false"
       (renderComplete)="directiveRenderComplete($event)"
       class="d-flex flex-wrap justify-content-around">
    <div class="ticket-item col-3 m-2"
         (click)="goToTicketInfoPage(tour)"
         *ngFor="let tour of tickets; let i = index">
      <div class="ticket-img">
        <img alt="tour" class="w-100" src="/assets/img/{{tour.img}}"/>
      </div>
      <div class="ticket-title">{{tour.name}}</div>
      <div class="ticket-price">{{tour.price}}</div>
    </div>
  </div>
</div>

<div class="search-error" *ngIf=" tickets?.length === 0
     && !searchQuery">Нет данных</div>

