<div class=" d-flex flex-column registration-input-wrap m-auto">
  <div class="my-2 ">
    <span class="mx-3">Логин</span>
    <input type="text"
           pInputText
           [ngClass]= "{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div class="my-2 ">
    <span class="mx-3">Пароль</span>
    <input type="password"
           pInputText
           [ngClass]= "{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>
  <div class="my-2 ">
    <span class="mx-3">Подтверждение пароля</span>
    <input type="password"
           pInputText
           [ngClass]= "{'input-error': !pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>
  <div class="my-2 ">
    <span class="mx-3">Почта</span>
    <input type="text"
           pInputText
           [(ngModel)]="email"/>
  </div>
  <div *ngIf="showCardNumber">
    <div class="my-2 ">
      <span class="mx-3">Номер карты</span>
      <input type="text"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div>
  </div>

  </div>

<div class="mt-3  d-flex text-custom">
  <p-checkbox (onChange)="localStorageUser()"
              label = "Сохранить пользователя в локальном хранилище"
              name="groupname" value="val1"
              [binary] ="true"
              [(ngModel)]="storageValue">
  </p-checkbox>
  <div *ngIf="storageValue" >
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
  <button [disabled]="!login || !psw || !pswRepeat"
          (click)="registration($event)"
          type="button"
          class="btn btn-success">Зарегистрироваться</button>
</div>
